<div class="strength">
  <ul class="strengthBar mt-2">
    <li
      class="strength-section"
      [ngClass]="{
        gray: str === 'none',
        red: str === 'short' || str === 'easy',
        yellow: str === 'medium',
        green: str === 'strong'
      }"
    ></li>
    <li
      class="strength-section"
      [ngClass]="{
        gray: str === 'none',
        red: str === 'short',
        yellow: str === 'medium',
        green: str === 'strong'
      }"
    ></li>
    <li
      class="strength-section"
      [ngClass]="{
        gray: str === 'none' || 'short' || 'easy' || 'medium',
        red: str === 'short',
        green: str === 'strong'
      }"
    ></li>
  </ul>
</div>
